@import reset/reset

*
	box-sizing: border-box

$task-block-width: 90%
.task-block
	width: $task-block-width
	border: 2px solid white
	border-radius: 3px
	margin: auto
	box-shadow:
	text-align: center
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5)

body
	#game
		width: 200px
		height: 330px
		margin-top: 20px
		margin-left: 20px
		border: 5px solid black
		background: url("../img/backgroundGame.png") repeat
		color: white
		border-radius: 3px
		.number
			@extend .task-block
			$height: 50px
			height: $height
			line-height: $height
			background: #8fac2e
		div:nth-child(4)
			background: #465cbf

		.equal
			@extend .task-block
			margin-top: 15px
			margin-bottom: 15px
			background: #7987ac
			line-height: 1.5em
		.question
			color: #b0b6b0
			width: 95%
			line-height: 1.5em
			margin: auto
			margin-top: 30px
			border-radius: 3px
			background: rgba(0, 0, 0, 0.4)
			text-align: center
		.game-panel
			width: 100%
			//height: 20px
			background: rgba(0, 0, 0, 0.4)
			padding: 5px 0
			font-size: 13px
			margin-bottom: 50px
			color: #88902d
			display: flex
			justify-content: space-around



