<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title react
	script(src="js/jquery.js")
	link(rel="stylesheet", href="css/main.css")
body
	#game
	script(src="js/react.development.js")
	script(src="js/react-dom.development.js")
	script(src="js/main.js")
